<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
{% load static %}
<body>
{% include "partials/links.html"%}

<div class="loginbody">
    <div class="login">
        <div class="logincard">
            <br>
            <div class="logo">
                <h2>Service<span>Pack</span></h2>
            </div>
                    {% if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-danger{{msg.tags}}" style="color: crimson;" role="alert">
                                {{msg}}
                            </div>
                        {%endfor%}
                    {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="loginput">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="username" name="otp" required>
              </div>
              <br>
              <button type="submit" name="btnLogin">Confirm</button>
              
            </form>
        </div>
    </div>
</div>
</body>
</html>




