{% extends 'hod_template/base_template.html' %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box" id="linka">
                <div class="col-lg-3 stats">
                  <h3 class="counting" data-count="{{ all_staff_count }}">0</h3>
                  <p>Staffs</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fa fa-users"></i>
                </div>
                <a href="{% url 'manage_staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
              
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box" id="linka">
                <div class="col-lg-3 stats">
                  <h3 class="counting" data-count="{{ manager_count }}">0</h3>
                  <p>Managers</p>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                </div>
                <a href="{% url 'manage_manager' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box" id="linka">
                <div class="col-lg-3 stats">
                  <h3 class="counting" data-count="{{ department_count }}">0</h3>
                  <p>Departments</p>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-chalkboard"></i>
                </div>
                <a href="{% url 'manage_department' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box" id="linka">
                <div class="col-lg-3 stats">
                  <h3 class="counting" data-count="{{ position_count }}">0</h3>
                  <p>Positions</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fas fa-file-signature"></i>
                </div>
                <a href="{% url 'manage_position' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="row">
              <!-- PIE CHART -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Staff and Manager Chart</h3>
                    <canvas id="pieChart" style="min-height: 150px; height: 150px; max-height: 150px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Total Positions in Each Department</h3>
                    <canvas id="donutChart" style="min-height: 150px; height: 150px; max-height: 150px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Total Staff in Each Department</h3>
                    <canvas id="pieChart2" style="min-height: 150px; height: 150px; max-height: 150px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Total Staffs in Each Position</h3>
                    <canvas id="pieChart3" style="min-height: 150px; height: 150px; max-height: 150px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            

            <div class="row">
              <!-- First Row -->
              <div class="col-lg-12">
                <!-- DONUT CHART -->
                <div class="card">
                  <h3 class="card-title">Manager Attendance vs Leave</h3>
                  <div class="card-body">
                    
                    <div class="chart">                   
                      <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <!-- Second Row -->
              <div class="col-lg-12">
                <!-- DONUT CHART -->
                <div class="card">
                  <h3 class="card-title">Staff Attendance vs Leave</h3>
                  <div class="card-body">
                    
                    <div class="chart">
                      <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          {% comment %} <div class="row">

            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card card-info">
                <div class="card-header">
                  

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                
                <!-- /.card-body -->
                </div>
            </div>

            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card card-info">
                <div class="card-header">
                  

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                
                <!-- /.card-body -->
            </div>
            </div>
          </div> {% endcomment %}

        {% comment %} <div class="row">
          <div class="col-lg-12">
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>


          <div class="col-lg-6">
            
          </div>
        
        </div>

        <div class="row">
          <div class="col-lg-12">
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>


          <div class="col-lg-6">
            
          </div>
        
        </div> {% endcomment %}

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}

  <script>
    $(document).ready(function(){
      var donutChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData        = {
        labels: [
            'Staffs', 
            'Managers',
        ],
        datasets: [
          {
            data: [{{ all_staff_count }}, {{ manager_count }}],
            backgroundColor : ['#EE7214', '#4F6F52'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData        = pieData;
      var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions      
      })


      // Get context with jQuery - using jQuery's .get() method.
      var department_name_list = {{ department_name_list|safe }}
      var position_count_list = {{ position_count_list }}
      var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
      var donutData        = {
        labels: department_name_list,
        datasets: [
          {
            data: position_count_list,
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
          }
        ]
      }
      var donutOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var donutChart = new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions      
      })


      // Total Staffs in Each Department
      //var donutChartCanvas = $('#pieChart2').get(0).getContext('2d')
      var staff_count_list_in_department = {{ staff_count_list_in_department }}
      var pieData2 = {
        labels: department_name_list,
        datasets: [
          {
            data: staff_count_list_in_department,
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
      var pieData2        = pieData2;
      var pieOptions2     = {
        maintainAspectRatio : false,
        responsive : true,
      }

      var pieChart2 = new Chart(pieChartCanvas2, {
        type: 'pie',
        data: pieData2,
        options: pieOptions2      
      })

      // Total Staffs in Each Position
      var staff_count_list_in_position = {{ staff_count_list_in_position }}
      var position_list = {{ position_list|safe }}
      var pieData3 = {
        labels: position_list,
        datasets: [
          {
            data: staff_count_list_in_position,
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas3 = $('#pieChart3').get(0).getContext('2d')
      var pieData3        = pieData3;
      var pieOptions3     = {
        maintainAspectRatio : false,
        responsive : true,
      }

      var pieChart3 = new Chart(pieChartCanvas3, {
        type: 'pie',
        data: pieData3,
        options: pieOptions3      
      })

      //-------------
      //- BAR CHART - Manager Attendance vs Leave
      //-------------

      var manager_attendance_present_list = {{ manager_attendance_present_list }};
      var manager_attendance_leave_list = {{ manager_attendance_leave_list }};
      var manager_name_list = {{ manager_name_list|safe }};

      var areaChartData = {
        labels  : manager_name_list,
        datasets: [
          {
            label               : 'Leave',
            backgroundColor     : '#EE7214',
            borderColor         : 'rgba(60,141,188,0.8)',
            pointRadius          : false,
            pointColor          : '#3b8bba',
            pointStrokeColor    : 'rgba(60,141,188,1)',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data                : manager_attendance_leave_list 
          },
          {
            label               : 'Attendance',
            backgroundColor     : '#527853',
            borderColor         : 'rgba(210, 214, 222, 1)',
            pointRadius         : false,
            pointColor          : 'rgba(210, 214, 222, 1)',
            pointStrokeColor    : '#c1c7d1',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data                : manager_attendance_present_list
          },
        ]
      }


      var barChartCanvas = $('#barChart').get(0).getContext('2d')
      var barChartData = jQuery.extend(true, {}, areaChartData)
      var temp0 = areaChartData.datasets[0]
      var temp1 = areaChartData.datasets[1]
      barChartData.datasets[0] = temp1
      barChartData.datasets[1] = temp0

      var barChartOptions = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      }

      var barChart = new Chart(barChartCanvas, {
        type: 'bar', 
        data: barChartData,
        options: barChartOptions
      })


        //- BAR CHART - Staff Attendance vs Leave
      //-------------

      var staff_attendance_present_list = {{ staff_attendance_present_list }};
      var staff_attendance_leave_list = {{ staff_attendance_leave_list }};
      var staff_name_list = {{ staff_name_list|safe }};

      var areaChartData2 = {
        labels  : staff_name_list,
        datasets: [
          {
            label               : 'Leave',
            backgroundColor     : '#EE7214',
            borderColor         : 'rgba(60,141,188,0.8)',
            pointRadius          : false,
            pointColor          : '#3b8bba',
            pointStrokeColor    : 'rgba(60,141,188,1)',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data                : staff_attendance_leave_list 
          },
          {
            label               : 'Attendance',
            backgroundColor     : '#527853',
            borderColor         : 'rgba(210, 214, 222, 1)',
            pointRadius         : false,
            pointColor          : 'rgba(210, 214, 222, 1)',
            pointStrokeColor    : '#c1c7d1',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data                : staff_attendance_present_list
          },
        ]
      }


      var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
      var barChartData2 = jQuery.extend(true, {}, areaChartData2)
      var temp02 = areaChartData2.datasets[0]
      var temp12 = areaChartData2.datasets[1]
      barChartData2.datasets[0] = temp12
      barChartData2.datasets[1] = temp02

      var barChartOptions2 = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      }

      var barChart2 = new Chart(barChartCanvas2, {
        type: 'bar', 
        data: barChartData2,
        options: barChartOptions2
      })

    })
  </script>

  {% endblock custom_js %}